*,
::before,
::after {
    box-sizing: border-box;
    font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: black;
}

body {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: darkcyan;
    height: 10vmin;
    border-bottom: solid black 2px;
    border-radius: 0px 0px 30px 30px;
}

.title {
    flex: 1 1 auto;
    font-size: 6.2vmin;
    padding-left: 10px;
}

.header-button-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-right: 10px;
}

.header-button-container>button {
    border: none;
    font-size: 3.2vmin;
    background-color: inherit;
    transition: 0.3s;
    cursor: pointer;
}

.header-button-container>button:hover {
    background-color: cadetblue;
    transition: 0.3s;
    border-radius: 30px;
}

.add-task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 12vmin;
    right: clamp(0.1rem, 3vmin, 10rem);
    border: solid black;
    gap: 5px;
    padding: 20px;
    border-radius: 0 50px 50px 50px;
    background-color: darkcyan;
}

.add-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 12vmin;
    right: 10vmin;
    border: solid black;
    gap: 15px;
    padding: 20px;
    border-radius: 50px 0 50px 50px;
    background-color: darkcyan;
}

#project-title {
    padding: 0px 15px 15px 15px;
}

.project-and-task-container {
    display: flex;
    flex-direction: row;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vmin;
    font-size: 4vmin;
    background-color: darkslategray;
    border-right: solid black 2px;
    position: absolute;
    top: 10vmin;
    bottom: 0;
    border-radius: 30px 30px 0px 0px;
}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(0.1rem, 2.9vmin, 1rem);
    flex: 1 0 auto;
}

.project-list>div {
    padding: 0 10px 0 10px;
    border-radius: 30px;
    background-color: inherit;
    transition: 0.3s;
}

.project-list>div:hover {
    background-color: darkcyan;
    transition: 0.3s;
    border-radius: 30px;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.project-name {
    margin-top: 20px;
}

.delete-project {
    margin-bottom: 90px;
    font-size: clamp(0.1rem, 2.3vmin, 1rem);
    border-radius: 30px;
    transition: 0.3s;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

.delete-project:hover {
    background-color: darkcyan;
    transition: 0.3s;
    border-radius: 30px;
    cursor: pointer;
    color: darkred;
}

.confirm-delete {
    position: absolute;
    bottom: 40px;
    left: 20px
}

.task-container {
    display: flex;
    flex-direction: column;
    padding-top: 3.5vmin;
    padding-left: clamp(80px, 34vmin, 200px);
    font-size: 3vmin;
}

.task-list,
.due-by-list,
.checkbox-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5vmin;
    font-size: 2vmin;
}

.task-list>div,
.due-by-list>div,
.checkbox-list>div {
    list-style: circle;
    list-style-position: inside;
    border-radius: 30px;
    background-color: inherit;
    transition: 0.3s;
    padding: 0 10px 0 10px;
    border-bottom: solid black 2px;
    border-left: solid black 1px;
}

.task-list>div:hover,
.due-by-list>div:hover,
.checkbox-list>div:hover {
    background-color: darkcyan;
    transition: 0.3s;
    border-radius: 30px;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.due-by-container,
.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 auto;
    padding-top: 3.5vmin;
    padding-left: 25x;
    margin-left: 55px;
    font-size: 3vmin;
}

.hide {
    display: none;
}

.complete {
    text-decoration: line-through;

}

.active {
    font-size: 1.4em;
    color: darkcyan;
}

.active:hover {
    color: black;
}